.qustionTitle {
  display: flex;
}
.questionImage {
  height: 20px;
  margin: 0 0 0 10px;
  cursor: pointer;
}
.questionDelete {
  color: #000;
  margin: 0 0 0 10px;
  cursor: pointer;
}

.questionEdit {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.testButtons {
  display: flex;
  justify-content: space-around;
  margin: 25px 0;
}
