.container {
  background-color: #fff;
  padding: 0 0 10px 0;
  margin: 0;
}

.testButtons {
  display: flex;
  justify-content: space-around;
  margin: 25px 0;
}

.testName {
  padding: 40px;
  display: flex;
  align-items: center;
}
.testNameLabel {
  margin: 0 10px 0 0;
}

.addButton {
  flex-grow: 1;
  button {
    float: right;
  }
}
