.container {
  max-width: 1200px;
  background-color: #fff;
  padding: 0 0 25px 0;
}
.error {
  color: #ff0000;
  text-align: center;
}
.loginLink {
  color: #830000;
  text-decoration: underline;
  cursor: pointer;
}
.testList {
  padding: 20px;
}
.testHeader {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.testInput {
  flex-grow: 1;
}
.pages {
  display: flex;
  align-items: center;
  padding: 20px;
  .page {
    margin: 0 25px;
    padding: 5px;
    cursor: pointer;
  }
  .selectedPage {
    margin: 0 25px;
    cursor: pointer;
    color: #3d3d3d;
    padding: 5px;
    border: 1px solid #000;
  }
}
