.container {
  max-width: 1200px;
  background-color: #fff;
  padding: 0 0 25px 0;
}
.title {
  padding: 25px;
  font-size: 27px;
}
.form {
  padding: 25px;
}
.questionTitle {
  font-size: 17px;
  margin: 25px 0;
}
