@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap");

body {
  font-family: "Nunito";
  background-color: #f1f2f6;
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}
.black_button {
  background-color: #141414;
  color: #fff;
  border: 1px solid rgba(54, 54, 54, 0.6);
  font-weight: 600;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
  cursor: pointer;
  height: 45px;
  width: 130px;
  opacity: 1;
}
.white_button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 45px;
  width: 130px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
